#menu {
  background: purple;
  border-radius: 0px;
  margin: 0;
}
.mapboxgl-ctrl-group {
  width: 30px;
}
.mapboxgl-map,
div.overlays {
  z-index: -1;
  position: fixed;
}
.login-body {
  padding: 5px;
}
#primary {
  margin: 10px;
  margin-left: 2.5vw;
}
#blog {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  margin-top: 72px !important;
  position: absolute;
}
.map-container {
  display: flex;
}
div.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 10vh;
}
input[type="file"] {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}
.save-btn {
  padding: 8px 5px;
  cursor: pointer;
}
.save-btn:hover {
  background: #cacaca;
  border-radius: 2px;
}
.btns {
  padding-top: 5px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.ui.button {
  margin: 0;
}
.mapboxgl-map,
div.overlays {
  z-index: 1 !important;
}
i.icon.pin {
  cursor: pointer;
}
.pin-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 10vh;
}
.pin-heading {
  margin: 2px;
}
.blog-btns {
  display: flex;
  align-items: flex-start;
  position: fixed;
  width: 100%;
  justify-content: space-between;
}
button.ui.button.close {
  background: white;
  padding: 10px;
}
.ui.red.button.delete {
  margin: 5px;
}
.comment-form {
  display: flex;
  align-items: flex-start;
  width: 100%;
  justify-content: space-between;
}
div.pin-content {
  margin: 0 5vw;
}
.header.item.instructions {
  margin-right: 2.5vw !important;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}
h1 {
  margin: 0;
  font-size: 1.5rem;
}
h2 {
  margin: 0;
  font-size: 1.25rem;
}
@media (max-width: 650px) {
  div.form,
  div.pin-content {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  #blog {
    max-width: 100%;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}
